@charset "utf-8";
/* CSS Document */
body {
	background-image:url("Assets/Regular.jpg");
}

h1 {
	color: white;
	text-decoration: underline;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 60px;
}

img {
	display: block;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: white;
	border-width: thick;
}

a {
	color:#FCB040;
	font-size: 40px;
	display: block;
	text-align: center;
	font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'
}

p {
	text-align: center;
	font-size: 25px;
	color: white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}